<%- include('../header.ejs') %>
<h1>Comments</h1>
<p>Single line comments should start with the character '{' and end at '\n'</p>
<p><br />Multiline comments start and end with the character 'ยง'</p>
<%- include('../footer.ejs') %>