<%- include('header.ejs') %>

<h1>Lo Script Docs</h1>
<a href="/part/comments">Comments</a>
<a href="/part/identifier">Identifier</a>
<a href="/part/l">Loops</a>
<a href="/part/if">If statement</a>
<a href="/part/func">functions</a>
<a href="/part/var">Variables</a>
<a href="/part/lst">lists</a>
<a href="/part/val">Values</a>
<a href="/part/OP">Operator</a>
<a href="/part/req">require</a>
<h2>Built-in Functions</h2>
<a href="/part/gs">getStruct</a>
<a href="/part/go">getObject</a>
<a href="/part/ac">addChild</a>
<a href="/part/ex">exists</a>
<a href="/part/te">throwError</a>
<a href="/part/mf">math.floor</a>
<a href="/part/mr">math.round</a>
<a href="/part/mp">math.pow</a>
<a href="/part/ig">isGraph</a>
<a href="/part/gkd">getKeyDown</a>
<a href="/part/cw">console.warn</a>
<a href="/part/gd">getDrives [Windows only]</a>
<a href="/part/tl">toLower</a>
<a href="/part/tu">toUpper</a>
<a href="/part/lc">listContent</a>
<a href="/part/eq">equals</a>
<a href="/part/cerr">console.error</a>
<a href="/part/rand">random</a>
<a href="/part/sys">system</a>
<a href="/part/repr">repr</a>
<a href="/part/prn">print</a>
<a href="/part/prnf">printf</a>
<a href="/part/epy">execpy</a>
<a href="/part/num">number</a>
<a href="/part/str">string</a>
<a href="/part/in">input</a>
<a href="/part/inint">input_int</a>
<a href="/part/cc">console.clear</a>
<a href="/part/ge">getEnv</a>
<a href="/part/se">setEnv</a>
<a href="/part/de">deleteEnv</a>
<a href="/part/gsi">getSystemInfos</a>
<a href="/part/exit">exit</a>
<a href="/part/isn">isNum</a>
<a href="/part/iss">isStr</a>
<a href="/part/isl">isList</a>
<a href="/part/isf">isFunc</a>
<a href="/part/app">append</a>
<a href="/part/pop">pop</a>
<a href="/part/ext">extend</a>
<a href="/part/len">len</a>
<a href="/part/req_f">require (function)</a>
<h3>stdlib</h3>
<a href="/part/mfd">math.fullDivide</a>
<a href="/part/mc">math.ceil</a>
<a href="/part/ma">math.abs</a>
<a href="/part/mn">math.neg</a>
<a href="/part/ixd">isXDigit</a>
<a href="/part/ip">isPunct</a>
<a href="/part/il">isLower</a>
<a href="/part/iu">isUpper</a>
<a href="/part/is">isSpace</a>
<a href="/part/type">typeof</a>
<a href="/part/del">delete</a>
<a href="/part/map">map</a>
<a href="/part/join">join</a>
<a href="/part/ans">answer</a>
<h2>Objects (stdlib)</h2>
<a href="/part/math">#math</a>
<a href="/part/console">#console</a>
<%- include('footer.ejs') %>